.titulo {
    color: blue;
    text-align: center;
}

.img {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.corBackground {
    background-image: url("https://i.imgur.com/LyVmDYD.jpg");
    background-color: #cccccc;
}

.colorTextFundo {
    background-color: #E6CDEB;
}

.colorLetras {
    color: white;
    background-color: black;
}